body {
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
    background-image: url(images/background.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
  }
  
  .bubble-container {
    position: absolute;
    top: 425px;
    right: 120px;
  }
  
  .speech-bubble {
    width: 450px;
    height: 300px;
  }
  
  #artist-comment {
    position: absolute;
    top: 40px;
    left: 110px;
    font-size: 20px;
    color: black;
    width: 60%;
    z-index: 1;
  }
  
  #mood-images img {
    max-height: 300px;
    position: absolute;
    right: 175px;
  }
  
  .abs {
    position: absolute;
  }
  
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  
  .input_video {
    display: none;
  }
  
  .output_canvas {
    max-width: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  