body{
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
    background-image: url(images/background2.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
}

.speech-bubble{
    max-height: 300px;
    width: 500px;
    position: absolute;
    right: 100px;
    top: 430px;
}

.artist{
    max-height: 300px;
    position: absolute;
    right: 175px;
}